= simple_form_for [:admin, @form], html: { class: 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :title
  = f.input :description
  = f.input :film_slice_ids, as: :select, collection: film_slice_collection, input_html: { multiple: true, class: 'select2' }
  = f.input :tag_ids, as: :select, collection: tag_collection, input_html: { multiple: true, class: 'select2' }

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('helpers.links.cancel'), admin_lessons_path, :class => 'btn'
