%table.table.table-condensed.table-bordered
  %tbody
    %tr
      %td
        %strong= 'Lesson id'
      %td= @lesson.id
    %tr
      %td
        %strong= 'Title'
      %td= @lesson.title
    - @lesson.film_slices.each do |fs|
      %tr
        %td
          %strong= 'Start at'
        %td= fs.start_at
      %tr
        %td
          %strong= 'Stop at'
        %td= fs.stop_at
      %tr
        %td
          %strong= 'Video url'
        %td= fs.video_files.first.url
      %tr
        %td
          %strong= 'Subtitles url'
        %td= fs.sub_files.first.url
      %tr
        %td
          %strong= 'Embed player'
        %td
          %iframe{id: "player_1", class: 'vimeo-player', src: [fs.video_files.first.url, 'api=1&amp;player_id=player_1'].join('?'), width: "540", height: "304", frameborder: "0"}
      %tr
        %td
          %strong= 'Subtit'
        %td
          .subtitle.hidden
            %code
              -# TODO RAW FORMAT exploit XSS injection
              = raw File.read('public/system/subs/friends-s01e02.srt')
          .subtitle-output
      %tr
        %td
          %strong= 'Player Controls'
        %td
          %button.btn.btn-primary.play= 'Play'
          %button.btn.btn-primary.stop= 'Stop'
          %button.btn.btn-primary.seek= 'Seek 30'
