.page-header
  %h1=t '.title'

= link_to t('.new'), new_admin_lang_path, class: 'btn btn-primary pull-right'

- if @langs.present?
  %table.table.table-striped
    %thead
      %tr
        %th.id= sort_link(@q, :id)
        %th.fullname= sort_link(@q, :title)
        %th.actions= t 'helpers.actions'
    %tbody
      - @langs.each do |lang|
        %tr
          %td= lang.id
          %td= lang.name
          %td.btn-lg
            = link_to edit_admin_lang_path(lang.id) do
              %i.glyphicon.glyphicon-edit
            - if lang.deleted?
              = link_to admin_lang_path(lang, lang: { state_event: :restore }), method: :patch do
                %i.glyphicon.glyphicon-share-alt
            - else
              = link_to admin_lang_path(lang), method: :delete do
                %i.glyphicon.glyphicon-remove

  = paginate @langs
- else
  .well
    = t '.no_data'